@model IEnumerable<Specification.Models.Song>
<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(s => s.Artist)</th>
        <th>@Html.DisplayNameFor(s => s.Title)</th>
        <th>@Html.DisplayNameFor(s => s.Album)</th>
        <th>@Html.DisplayNameFor(s => s.Year)</th>
        <th>@Html.DisplayNameFor(s => s.Length)</th>
        <th>@Html.DisplayNameFor(s => s.Rating)</th>
        <th>@Html.DisplayNameFor(s => s.Genres)</th>
    </tr>
    @foreach (var song in Model)
    {
        <tr>
            <td><a asp-page="/Songs/ByArtist" asp-route-artist="@song.Artist">@Html.DisplayFor(s => song.Artist)</a></td>
            <td>@Html.DisplayFor(s => song.Title)</td>
            <td><a asp-page="/Songs/ByAlbum" asp-route-id="@song.AlbumId">@Html.DisplayFor(s => song.Album.Title)</a></td>
            <td><a asp-page="/Songs/ByYear" asp-route-year="@song.Year">@Html.DisplayFor(s => song.Year)</a></td>
            <td>@Html.DisplayFor(s => song.Length)</td>
            <td><a asp-page="/Songs/MinRating" asp-route-rating="@song.Rating">@Html.DisplayFor(s => song.Rating)</a></td>
            <td>@string.Join(",", song.Genres)</td>
        </tr>
    }
</table>
